<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/tufte.css"/>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if ne .Name "Media Folder"}}
            <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name | humanize }}</a>
            {{ end }}
        {{end }}
        <a class="" href="/about">About</a>
    </div>

    <article>
        {{ block "intro" .}}
        {{ end }}
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
    </article>
    
    <script type="text/javascript">
        var _gauges = _gauges || [];
        (function() {
          var t   = document.createElement('script');
          t.type  = 'text/javascript';
          t.async = true;
          t.id    = 'gauges-tracker';
          t.setAttribute('data-site-id', '5b54e5af844e12129d405871');
          t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
          t.src = 'https://d2fuc4clr7gvcn.cloudfront.net/track.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(t, s);
        })();
      </script>
</body>
</html>