<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/tufte.css"/>
</head>
<body>
<div id="'nav">
    <div class="topnav">
        <a class="active" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        {{ range $key, $value := .Site.Taxonomies.topics }}
        <a href="{{ "/" }}{{ $key | urlize }}">{{ $key | humanize }}</a>
        {{ end }}
        <a href="{{ .Site.BaseURL }}about">About</a>
    </div>

    <article>
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
    </article>
</body>
</html>