<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}
        {{ .Site.Title }}
        {{ end }}</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/tufte.css"/>
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ if ne .Name "Media Folder"}}
            <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name | humanize }}</a>
            {{ end }}
        {{end }}
        <a class="" href="/about">About</a>
    </div>

    <article>
        {{ block "intro" .}}
        {{ end }}
        <!-- Code that all your templates share, like a header -->
        {{ block "main" . }}
        <!-- The part of the page that begins to differ between templates -->
        {{ end }}
        {{ block "footer" . }}
        <!-- More shared code, perhaps a footer but that can be overridden if need be in  -->
        {{ end }}
    </article>
</body>
</html>