{{ define "main" }}

    <h1>{{ .Title }}</h1>

    {{ partial "get-banner-image" . }}
    
    <p class="subtitle">{{ .Description }}</p>

    <section>

        <figure class="fullwidth">
            <img src="/img/{{ .Params.file }}" alt="" />
        </figure>

        <p>
            <label for="{{ .Params.file }}" class="margin-toggle">&#8853;</label>
            <input type="checkbox" id="{{ .Params.file }}" class="margin-toggle"/>
            <span class="marginnote">
                    <span class="label">Camera:</span> {{ .Params.camera }}<br />
                    <span class="label">Focal length:</span> {{ .Params.focallength }} mm<br />
                    <span class="label">Aperture:</span> f / {{ .Params.aperture}}<br />
                    <span class="label">Shutter speed:</span> 1/{{ .Params.shutterspeed }} seconds<br />
                    <span class="label">ISO:</span> {{ .Params.iso }} <br />

                </span>
        </p>
        {{ .Content }}


    </section>

{{ end }}